@charset "utf-8";

h1 {
  float: left;
  padding-top: 60px;
  margin-right: 50px;
}
.nav {
  padding-top: 60px;
  float: left;
}
.nav > li {
  float: left;
}
.nav > li + li {
  padding-left: 40px;
}
.nav > li > ul {
  display: none;
  position: absolute;
  width: 460px;
  height: 120px;
  left: 257px;
  padding: 10px;
  background: url("../images/gnb_bg.png") no-repeat;
  z-index: 100;
}
.nav > li > ul > li {
  margin: 10px;
}
.nav > li:hover > ul {
  display: block;
}

.map {
  float: left;
  margin-left: 180px;
}
.map > li {
  float: left;
}
.map > li + li {
  border-left: 1px solid gainsboro;
  padding-left: 10px;
  margin-left: 10px;
}
.map > li > ul {
  display: none;
  position: absolute;
}
.map > li:hover > ul {
  display: block;
}
